@model IEnumerable<ControleVendas.Models.NivelAcesso>

@{
    ViewData["Title"] = "Index";
}

<div class="bg-gradient-primary-to-secondary">
    <div class="container">
        <h1>Níveis de Acesso</h1>

        <p>
            <a class="btn btn-outline-light mt-2" asp-action="Create">Criar novo</a>
        </p>
    </div>
</div>
<table class="table align-middle container w-50 table-light p-5 rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="justify-content-between">
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.NivelAcessoID"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.NivelAcessoID"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.NivelAcessoID"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
