@model IEnumerable<ControleVendas.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<div class="bg-gradient-primary-to-secondary">
    <div class="container">
        <h1>Cliente</h1>
        <p>
            <a class="btn btn-outline-light mt-2" asp-action="Create">Adicionar novo</a>
        </p>
    </div>
</div>

<div class="bg-white align-middle container tab table-responsive ">
    <table class="table table-sm align-middle">
        <thead>
            <tr>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.NivelAcessoID)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAcessoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Senha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEP)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.ClienteID"><i class="bi bi-pencil-fill"></i></a>
                        <a asp-action="Details" class="btn btn-outline-info my-1" asp-route-id="@item.ClienteID"><i class="bi bi-info-circle"></i></a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.ClienteID"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>