@model IEnumerable<ControleVendas.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<div class="bg-gradient-primary-to-secondary">
    <div class="container">
        <h1>Vendas</h1>

        <p>
            <a class="btn btn-outline-light mt-2" asp-action="Create">Adicionar nova</a>
        </p>
    </div>
</div>
<table class="table align-middle container table-light p-5 rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FuncionarioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusEntrega)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.VendaID"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.VendaID"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.VendaID"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
