@model ControleVendas.Models.ItensVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItensVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItensVendaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
